<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pharmiczy"
        tools:targetApi="31">
        <activity
            android:name=".home.activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".order_placing.addAddressActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.AllDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.AllMedicines"
            android:exported="false" />
        <activity
            android:name=".order_placing.Address"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity1"
            android:exported="true" />
        <activity
            android:name=".order_placing.order_placingActivity"
            android:exported="false" />
        <activity
            android:name=".order_placing.orderdetailsActivity"
            android:exported="false" />
        <activity
            android:name=".cart.cartActivity"
            android:exported="false" />
        <activity
            android:name=".home.activity.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".loginandsignup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".loginandsignup.loginactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.home"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pharmiczy" />
    </application>

</manifest>